.App{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, transparent,white),url(./Assets/weat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: start;
  /* background-attachment: fixed; */
}

